.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: beige;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
