.theme-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;

  .background-gradient,
  .background-gradient-2 {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
  }
}
